{% extends "in_base.html" %}

{% block title %} {{username}} {% endblock %}

{% block content %}
<div class="w3-row-padding w3-col m12 w3-card-2 w3-round w3-white w3-container w3-padding w3-left-align"> 	    
<!--form enctype="multipart/form-data" action = "{% url "profile" %}" method = "GET"-->
<p><img class="w3-circle" src="{% url 'uploadavater' %}?username={{ username }}" height="75" width="75" alt="{{firstname}} {{lastname}}"></p>
<p>Username: {{username}}</p>
<p>First Name: {{firstname}}</p>
<p>Last Name: {{lastname}}</p>
<p>Age: {{age}}</p>
<p>Bio: {{bio}}</p>
<!-- email -->
<!--/form--><br>

{% if editOption %}
<form action="{% url 'editprofile' %}" method="GET">
<button class="w3-btn w3-theme" type="submit" name="Login" value="Edit"> Edit </button>
</form><br>
{% elif unFollowOption %}
<a href="{% url 'unfollow' %}?username={{ username }}" class="w3-btn w3-theme"> Unfollow </a><br>
{% else %}
<a href="{% url 'follow' %}?username={{ username }}" class="w3-btn w3-theme"> Follow </a><br>
{% endif %}
</div>
{% endblock %}

		{% block post %}
			<img src="{% url 'uploadavater' %}?username={{ post.username }}" class="w3-circle" height="75" width="75" alt="{{form.first_name.value}} {{form.last_name.value}}">
			{{ post.text }} <br>
			<a href="{% url 'profile' %}?username={{post.username}}">{{post.username}}</a>
			{{ post.timeline}} <br>	
		{% endblock %}
<br>