{% extends 'content_base.html' %}

{% block title %} SocialQueen -- Edit Profile {% endblock %}

{% block content %}

{% if form.picture.value %}
Photo: <img src="{% url 'uploadavater' %}/?username={{ post.username }}" class="w3-circle" height="75" width="75" alt="{{form.first_name.value}} {{form.last_name.value}}">
{% endif %}
<form enctype="multipart/form-data" method="post" action="{% url "editprofile" %}">
<table>
{{ form }}
<table>
{% for field in form.hidden_fields %}
{{ field }}
{% endfor %}
<br>
<button class="w3-btn w3-theme" type="submit" name="Save" value="Save"> Save </button>	
<a href="{% url 'profile' %}?username={{user.username}}" class="w3-btn w3-theme"> Cancel </a>
<br><br>
{% csrf_token %}
</form>

{% for error in form.non_field_errors %}
<p class="errmsg">
{{error}}
</p>
{% endfor %}

{% endblock %}