{% extends "out_base.html" %}

{% block title %} SocialQueen -- Login {% endblock %}

{% block content %}
<form class="w3-container w3-card-4" method="POST" action="{% url 'django.contrib.auth.views.login' %}">
	<h2 class="w3-text-theme">Login</h2>
	{{ form }}
	<br>
	{% if form.errors %}
	<p class="errmsg">
	Incorrect username and password.
	</p>
	{% endif %}
	<br>
	
	<button class="w3-btn w3-theme" type="submit" name="Login" value="Login"> Log in </button>	
	<a href="{% url 'register' %}" class="w3-btn w3-theme"> Sign up </a>
	<!--input type="hidden" name="next" value="{{ next }}" /-->
	<br><br>
	{% csrf_token %}
</form>
{% endblock %}
