<!DOCTYPE html>
<html>
<title>{% block title %} SocialQueen {% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'w3_socialnetwork.css' %}" type="text/css">
<body>

<header class="w3-container w3-teal">
	{% block header %}
	<!--span class="w3-xlarge">☰</span-->
	<h1>SocialQueen</h1>
	{% endblock %}
</header>

<div class="w3-container w3-half w3-margin-top">
	{% block content %}{% endblock %}
</div>

</body>
</html>