{% extends "out_base.html" %}

{% block title %} SocialQueen -- Sign Up {% endblock %}

<header class="w3-container w3-teal">
	<span class="w3-xlarge">☰</span>
	<h1>SocialQueen</h1>
</header>

{% block content %}

<form class="w3-container w3-card-4" method="post" action="{% url 'register' %}">
	<h2 class="w3-text-theme">Sign Up</h2>
	
	<table>
	{% for field in form.visible_fields %}
	<tr>
		<td>{{ field.label_tag }}</td>
		<td>{{ field }}</td>
		<td class="errmsg">{{field.errors}}</td>
	</tr>
	{% endfor %}
	</table>
	{% for field in form.hidden_fields %}
	{{ field }}
	{% endfor %}
	{% csrf_token %}
	<br>
	<button class="w3-btn w3-theme" type="submit" value="Register"> Sign up </button>
	<a href="{% url 'login' %}" class="w3-btn w3-theme"> Cancel </a>
	<br><br>
</form>
{% for error in form.non_field_errors %}
<p class="errmsg">
{{error}}
</p>
{% endfor %}

{% endblock %}

