{% extends "in_base.html" %}

{% block title %} SocialQueen -- Global {% endblock %}

{% block content %}
<div class="w3-row-padding w3-col m12 w3-card-2 w3-round w3-white w3-container w3-padding w3-left-align">		    
<form action ="{% url 'Postmsg' %}" method = 'post'>
	{{ form.text }}
	{% for field in form.hidden_fields %}
		{{ field }}
	{% endfor %}
	<br>
	<button type="submit" value="Post" class="w3-btn w3-teal">Post</button>
	{% csrf_token %}
</form><br>
</div>
{% endblock %}

		{% block post %}
			<img src="{{ post.profile.avater }}" class="w3-circle" height="75" width="75">
			{{ post.text }} <br>
			<a href="profile?username={{post.username}}">{{post.username}}</a>
			{{ post.timeline}} <br>	
		{% endblock %}
<br>

<!-- alt="{{form.first_name.value}} {{form.last_name.value}}" -->
